.main-wrapper {
	height: 100vh;
}

.search-table {
	height: 400px;
	overflow: auto;
}

.to-add-list {
	margin-top:auto;
	height: 500px;
	overflow: auto;
}

.spin-box {
	height: 400px;
	display:flex;
	align-items: center;
	justify-content: center;
}


